.container {
    max-width: 120rem;
    margin: 7rem auto;
    background-color: $white;
    box-shadow: 0 3rem 8rem rgba(0, 0, 0, .3);
    min-height:50rem;
    position:relative;
}
.header {
    background-color: #fff;
    border-bottom: $grey-mid;
    height:8rem;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.content {
    display:flex;
}
.sidebar {
    background-color: $grey-dark;
    color:$white;
    flex: 0 0 19%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}
.main {
    background-color: salmon;
    flex:1;
    height: 80rem;   

}
.footer {
    min-height: 5rem;
    background-color: white;
    border-top:$grey-mid;
}