.container {
    max-width: 120rem;
    margin: 7rem auto;
    background-color: $white;
    box-shadow: 0 3rem 8rem rgba(0, 0, 0, .3);
    min-height:50rem;
    position:relative;
    @include respond(ltab) {
        margin: 0 auto;
        width:100%;
        max-width:100%;
    }
}
.header {
    background-color: #fff;
    border-bottom: $grey-mid;
    height:9rem;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.content {
    display:flex;
    @include respond(ptab) {  
        flex-direction: column; 
    }
}
.sidebar {
    background-color: $grey-dark;
    color:$white;
    flex: 0 0 19%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}
.main {
    flex:1;
}
.footer {
    min-height: 5rem;
    background-color: $white-d;
    border-top:$grey-mid;
    padding: 4rem 10rem;
}

