@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0; }

*,
*:after,
*:before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68em) {
    html {
      font-size: 50%; } }

#root {
  background-image: linear-gradient(to right, #1dd1a1, #0abde3);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #2d3436;
  position: absolute;
  top: 0;
  width: 100%; }

.column-half {
  flex: 0 0 50%;
  margin-bottom: 4rem; }
  .column-half:nth-last-child(1), .column-half:nth-last-child(2) {
    margin-bottom: 0; }
  @media only screen and (max-width: 37.5em) {
    .column-half:nth-last-child(2) {
      margin-bottom: 4rem; } }

.sb {
  justify-content: space-between;
  flex-wrap: wrap; }

.container {
  max-width: 120rem;
  margin: 7rem auto;
  background-color: #f1f1f1;
  box-shadow: 0 3rem 8rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0 auto;
      width: 100%;
      max-width: 100%; } }

.header {
  background-color: #fff;
  border-bottom: #636e72;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }
  @media only screen and (max-width: 50em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: #2d3436;
  color: #f1f1f1;
  flex: 0 0 19%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main {
  flex: 1; }

.footer {
  min-height: 5rem;
  background-color: #e7e7e7;
  border-top: #636e72;
  padding: 4rem 10rem; }

.logo {
  height: 3.2rem;
  margin-left: 2.5rem; }

.logo-text:link,
.logo-text:visited {
  font-family: 'Satisfy', cursive;
  font-size: 4rem;
  margin-left: 2.5rem;
  text-decoration: none;
  background-image: linear-gradient(to right, #1dd1a1, #0894b2);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 500; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    width: 90%;
    background-color: #f1f1f1;
    border-radius: 100px;
    border: none;
    padding: 1.2rem 2rem;
    transition: all .3s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #e7e7e7; }
  .search__input:focus + .search__button {
    background-color: #e7e7e7; }
  .search__button {
    border: none;
    background-color: #f1f1f1; }
    .search__button:active {
      outline: none; }
    .search__button:active {
      outline: none; }
  .search__icon {
    height: 2rem;
    width: 2rem; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: #f1f1f1; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.5rem;
    width: 2.5rem; }
  .user-nav__notification {
    color: #f1f1f1;
    background-color: orangered;
    border-radius: 50px;
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    top: 28%;
    right: 25%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.7rem;
  list-style: none;
  margin-top: 3rem;
  position: sticky;
  top: 30px; }
  @media only screen and (max-width: 50em) {
    .side-nav {
      display: flex;
      margin-top: 0; } }
  @media only screen and (max-width: 37.5em) {
    .side-nav {
      overflow: scroll; } }
  .side-nav__item {
    position: relative;
    backface-visibility: hidden; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
    @media only screen and (max-width: 50em) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    z-index: 10;
    transform: scaleY(0);
    background-image: linear-gradient(to right, #1dd1a1, #0abde3);
    transition: transform .2s ease-in-out, width .5s .2s ease-in-out, background-image .2s; }
  .side-nav__link:hover::before, .side-nav__link--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__link:active::before {
    background-image: linear-gradient(to right, #3de4b8, #2ad2f6); }
  .side-nav__link:link, .side-nav__link:visited {
    text-transform: uppercase;
    color: #e7e7e7;
    display: block;
    text-decoration: none;
    padding: 2.3rem 3rem;
    display: flex;
    z-index: 48;
    align-items: center;
    position: relative; }
    @media only screen and (max-width: 50em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center; } }
  .side-nav__icon {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 1.5rem;
    fill: currentColor;
    z-index: 50;
    position: relative; }
  .side-nav__text {
    z-index: 49;
    position: relative; }

.banner {
  background-color: white; }
  .banner__image-container {
    width: 100%;
    max-height: 22rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #11775c, #066c81); }
  .banner__image {
    width: 100%;
    opacity: 0.7; }
  .banner__title {
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.btn-primary {
  padding: 1.2rem 2rem;
  background-color: #1dd1a1;
  outline: none;
  border: none;
  border-radius: 20px;
  color: #f1f1f1;
  font-size: 1.6rem;
  font-family: inherit;
  transition: all .3s;
  cursor: pointer; }
  .btn-primary:hover {
    background-color: #0abde3; }
  .btn-primary:focus {
    outline: none; }

.cta {
  padding: 4rem 0rem;
  text-align: center;
  background-color: white; }
  .cta__book-now {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: #2d3436; }

.footer-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; }

.footer-nav__item {
  padding: 0.5rem 1.5rem; }

.footer-nav__link:link, .footer-nav__link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #2d3436;
  transition: all .2s; }

.footer-nav__link:hover {
  color: #636e72; }

.footer__legal {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  text-align: center; }

.footer .paragraph {
  font-size: 1.4rem;
  line-height: 1.7; }

.loader {
  display: flex;
  align-self: stretch;
  min-height: 23rem;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .loader__icon {
    height: 6rem;
    width: 6rem;
    fill: #1dd1a1;
    animation: rotate 1s linear infinite; }

@keyframes rotate {
  to {
    transform: rotate(360deg); } }

.error {
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: stretch;
  align-items: center; }
  .error__container {
    padding: 4rem;
    background-color: #c0392b;
    align-self: center;
    border-radius: 5px; }
  .error__message {
    color: white;
    font-size: 1.6rem; }

.cc_b_ok {
  background-color: #f1f1f1 !important;
  padding: 1.5rem 4.5rem !important;
  color: white;
  margin-right: 1rem !important;
  text-transform: capitalize !important;
  font-weight: 400 !important;
  background-image: linear-gradient(to right, #1dd1a1, #0abde3) !important; }

.cc_b_cp {
  background-color: lightgray !important;
  padding: 1.5rem 4.5rem !important;
  text-transform: capitalize !important;
  font-weight: 400 !important; }

.heading-1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  color: #2d3436; }

.heading-3 {
  font-size: 2rem;
  color: #2d3436;
  margin-bottom: 1.6rem; }

.paragraph {
  font-size: 1.6rem;
  color: #444f52; }

.list {
  margin-left: 2rem;
  font-size: 1.6rem;
  color: #444f52; }

.btn {
  text-transform: uppercase;
  font-size: 1.6rem;
  border: none;
  background-image: linear-gradient(to right, #1dd1a1, #0abde3);
  border-radius: 50px;
  color: #f1f1f1;
  overflow: hidden;
  position: relative;
  cursor: pointer; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .3s; }
  .btn__visible {
    padding: 2rem 7rem; }
  .btn__hidden {
    display: inline-block;
    position: absolute;
    padding: 2rem 0rem;
    left: 0;
    top: -100%; }
  .btn:hover {
    background-image: linear-gradient(to left, #1dd1a1, #0abde3); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__hidden {
    top: 0; }

.single-course {
  width: 100%;
  height: 100%; }

.gallery {
  display: flex; }
  .gallery__image {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  background-color: white; }
  .overview__heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem; }
  .overview__stars {
    display: flex;
    margin-right: auto; }
  .overview__icon--star, .overview__icon--location {
    width: 1.8rem;
    height: 1.8rem;
    fill: #1dd1a1; }
  .overview__rating {
    padding: 1rem 3rem;
    background-image: linear-gradient(to right, #1dd1a1 0%, #0abde3 80%);
    color: #f1f1f1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .overview__rating--count {
      font-size: 2.1rem; }
    .overview__rating--number {
      font-size: 1.3rem;
      text-transform: uppercase; }

.detail {
  display: flex;
  padding: 4rem; }
  @media only screen and (max-width: 50em) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      flex-direction: column; } }

.description {
  flex: 0 0 60%;
  margin-right: 4rem;
  background-color: white;
  padding: 3rem;
  border-radius: 5px; }
  @media only screen and (max-width: 50em) {
    .description {
      margin-right: 3rem;
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 2rem; } }
  .description .paragraph:not(:last-child) {
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 50em) {
      .description .paragraph:not(:last-child) {
        margin-bottom: 0rem; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.review {
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden; }
  .review__text {
    font-size: 1.5rem;
    color: #2d3436; }
  .review__user {
    display: flex;
    align-items: center;
    margin-top: 2rem; }
  .review__image {
    height: 5rem;
    width: 5rem;
    border-radius: 50%; }
  .review__user-box {
    margin-right: auto;
    font-size: 1.5rem;
    margin-left: 1.5rem; }
  .review__rating {
    font-size: 1.7rem;
    color: #1dd1a1;
    font-weight: 600;
    margin-right: 1rem; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -.5rem;
    left: .3rem;
    width: 6rem;
    height: 6rem;
    font-size: 8rem;
    font-family: sans-serif;
    color: #b2bec3; }
  .review__single-column:not(:last-child) {
    margin-bottom: 3rem; }

.contact-us {
  width: 100%;
  height: 100%; }

.detail {
  display: flex;
  padding: 4rem;
  align-items: flex-start; }
  @media only screen and (max-width: 50em) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      flex-direction: column; } }

.form-container {
  flex: 0 0 60%;
  margin-right: 4rem;
  background-color: white;
  padding: 3rem;
  border-radius: 5px; }
  @media only screen and (max-width: 50em) {
    .form-container {
      margin-right: 3rem;
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .form-container {
      margin-right: 0;
      margin-bottom: 2rem;
      width: 100%; } }
  .form-container .paragraph:not(:last-child) {
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 50em) {
      .form-container .paragraph:not(:last-child) {
        margin-bottom: 0rem; } }

.form {
  width: 100%; }
  .form__title {
    margin-bottom: 2rem;
    margin-left: 1.5rem; }
  .form__input {
    width: 100%;
    display: block;
    border: 2px solid transparent;
    border-radius: 30px;
    margin-bottom: 3rem;
    background-color: #e7e7e7;
    padding: 1.2rem 2.5rem;
    font-size: 1.6rem;
    font-family: inherit; }
    .form__input:focus {
      outline: none;
      border: 2px solid #1dd1a1; }
    .form__input--textarea {
      resize: none;
      height: 10rem; }

.form-aside {
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden; }
  .form-aside__text {
    font-size: 1.5rem;
    color: #2d3436; }

.column-half {
  flex: 0 0 47.5%;
  margin-bottom: 4rem; }
  .column-half:nth-last-child(1), .column-half:nth-last-child(2) {
    margin-bottom: 0; }
  @media only screen and (max-width: 37.5em) {
    .column-half:nth-last-child(2) {
      margin-bottom: 4rem; } }

.course-card {
  border-radius: 5px;
  background-color: white; }
  .course-card__img-container {
    max-height: 20rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: linear-gradient(to right, #11775c, #066c81); }
  .course-card__image {
    width: 100%;
    transform: scale(1);
    transition: all .3s;
    opacity: 0.75; }
  .course-card__title {
    font-size: 2.4rem;
    text-align: right;
    margin-right: 2rem;
    margin-top: -.8rem; }
  .course-card__list {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none; }
    .course-card__list-item {
      width: 70%;
      text-align: center;
      font-size: 1.6rem;
      padding: 1.5rem 2rem; }
      .course-card__list-item:not(:last-child) {
        border-bottom: 1px solid #b2bec3; }
  .course-card__ending {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
    background-image: linear-gradient(to bottom right, #95a6ad 0%, #2d3436 70%);
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  .course-card__price {
    font-size: 2.5rem;
    font-weight: 300;
    color: #e7e7e7;
    margin-bottom: 1.5rem; }
  .course-card__button {
    text-transform: uppercase;
    font-size: 1.6rem;
    border: none;
    padding: 1.5rem 2.5rem;
    background-color: white;
    border-radius: 50px;
    color: #2d3436;
    text-decoration: none;
    font-size: 600;
    transition: all .3s; }
    .course-card__button:hover {
      background-color: #e7e7e7; }
  .course-card:hover .course-card__image {
    transform: scale(1.15); }

.legal {
  font-size: 140%; }
