.column-half {
    flex:0 0 47.5%;
    margin-bottom:4rem; 
    &:nth-last-child(1),
    &:nth-last-child(2) {
       margin-bottom:0;
    }
    @include respond(phone) {  
        &:nth-last-child(2) {
            margin-bottom:4rem; 
        }
    }

}